<div class="social-sharing">
  <p>Share this post:</p>
  <a href="https://twitter.com/intent/tweet?text=Frontier%20LLM%20Project&url=https://mhhamdan.github.io/moha/large-multimodal-model/2024/12/21/MyfirstFrontierLLMProject/" target="_blank">Share on Twitter</a> |
  <a href="https://www.linkedin.com/shareArticle?mini=true&url=https://mhhamdan.github.io/moha/large-multimodal-model/2024/12/21/MyfirstFrontierLLMProject/&title=Frontier%20LLM%20Project" target="_blank">Share on LinkedIn</a> |
  <a href="https://www.reddit.com/submit?url=https://mhhamdan.github.io/moha/large-multimodal-model/2024/12/21/MyfirstFrontierLLMProject/&title=Frontier%20LLM%20Project" target="_blank">Share on Reddit</a> |
  <a href="https://www.researchgate.net/publication/new?title=Frontier%20LLM%20Project&url=https://mhhamdan.github.io/moha/large-multimodal-model/2024/12/21/MyfirstFrontierLLMProject/" target="_blank">Share on ResearchGate</a>
</div>
