<div class="social-sharing">
  <p>Share this post on:</p>
  <!-- X (Twitter) -->
  <a href="https://x.com/intent/tweet?text={{ page.title | escape }}&url={{ site.url }}{{ page.url }}" target="_blank">X</a> |
  
  <!-- LinkedIn -->
  <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ page.url | escape }}&title={{ page.title | escape }}&summary=Check%20out%20this%20post%21&source={{ site.url }}" target="_blank">LinkedIn</a> |

  
  <!-- Reddit -->
  <a href="https://www.reddit.com/submit?url={{ site.url }}{{ page.url | escape }}&title={{ page.title | escape }}" target="_blank">Reddit</a> |
  
  <!-- ResearchGate -->
  <a href="https://www.researchgate.net/publication/new?title={{ page.title | escape }}&url={{ site.url }}{{ page.url | escape }}" target="_blank">ResearchGate</a>
</div>
