---
layout: default
---

<div class="posts">
  <h1>{{ page.title }}</h1>

  {% for post in site.posts %}
    <div class="post">
      <h2><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h2>
      <p><small><i>{{ post.date | date_to_string }}</i></small></p>
      <p>{{ post.excerpt }}</p>
      <div class="post-content">
        {{ post.content }}
      </div>
      <a class="toggle-button">Read More</a>
    </div>
    <hr>
  {% endfor %}
</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    var buttons = document.querySelectorAll('.toggle-button');
    buttons.forEach(function(button) {
      button.addEventListener('click', function() {
        var content = this.previousElementSibling;
        if (content.style.display === "none" || content.style.display === "") {
          content.style.display = "block";
          this.textContent = "Read Less";
        } else {
          content.style.display = "none";
          this.textContent = "Read More";
        }
      });
    });
  });
</script>
